@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

#autodoc .fi-btn {
    background: -webkit-linear-gradient(45deg, #680aca, #ff897e);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.text-primary-gradient {
    background: linear-gradient(179deg, #6042FF 31.93%, rgba(255, 255, 255, 0.50) 122.37%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.bg-input-gradient {
    background: linear-gradient(#FFFFFF 1%, #9A88F5 100%);
}

.text-white-gradient {
    background: linear-gradient(179deg, #FFF 35.16%, rgba(255, 255, 255, 0.00) 136.19%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.text-secondary-gradient {
    background: linear-gradient(180deg, #FFFFFF -91.67%, #9A88F5 77.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.border-secondary-gradient {
    border-image: linear-gradient(180deg, #FFFFFF -91.67%, #9A88F5 77.96%) 1;
}

.bg-secondary-gradient {
    background: linear-gradient(180deg, #FFFFFF -91.67%, #9A88F5 77.96%);
}

.title-gradient {
    background: linear-gradient(180deg, #FFF -91.67%, #9A88F5 77.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#guide-content img {
    @apply rounded-xl border-white border-8 shadow-xl;
}

.button-hover-white {
    @apply overflow-hidden transition-all  before:absolute before:right-0 before:top-0 before:h-full before:w-1/6 before:translate-x-12 before:rotate-6 before:bg-white before:opacity-10 before:duration-700 hover:before:-translate-x-[600%];
}
